[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
model-mommy = "*"

[packages]
gunicorn = "*"
django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
django-ordered-model = "*"
ipython = "*"
extensions = "*"
django-extensions = "*"

[requires]
python_version = "3.8"
