<footer class="main-footer mt-5 pt-4 text-light">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3>Entre em Contato</h3>
				<address>
					+55 19 991-734-481
					<br/>
					<a href="mailto:{{contato_email}}" class="text-light">miranda_garcya@hotmail.com</a>
				</address>
			</div>
		</div>
	</div>
	<div class="rights pb-4">
	    <div class="container">
		    <div class="row">
			    <div class="col">
                    {% now 'y' %} Python Pro. Todos direitos reservados.
				</div>
			</div>
		</div>
	</div>
</footer>